body {
    background-color: rgb(50, 53, 62);
    color: rgb(252, 252, 252);
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
    
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    list-style-type: none;
    height: 30px;
    width: 200px;
    
    
}